.section {
  padding: 30px 0;
}
.section .titleBox {
  text-align: center;
  margin-bottom: 20px;
}
.section .titleBox h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}
.section .titleBox p {
  font-size: 12px;
}
.section .container {
  margin: 0 auto;
}

#mainVisual {
  overflow: hidden;
}
#mainVisual ul li {
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#mainVisual ul li.visual01 {
  background-image: url(../images/main/mainVisual01.jpg);
}
#mainVisual ul li.visual02 {
  background-image: url(../images/main/mainVisual02.jpg);
}
#mainVisual ul li.visual03 {
  background-image: url(../images/main/mainVisual03.jpg);
}
#mainVisual .slogan {
  text-align: center;
  color: #fff;
  z-index: 2;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mainVisual .slogan h2 {
  margin-bottom: 10px;
  font-size: 27.4285714286px;
  margin-bottom: 20px;
}
#mainVisual .slogan p {
  font-size: 12px;
  line-height: 1.5;
  word-break: keep-all;
}
#mainVisual button {
  width: 40px;
  height: 40px;
  background: none;
  z-index: 3;
  border: 1px solid #fff;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#mainVisual button .material-icons {
  font-size: 24px;
  color: #fff;
  vertical-align: top;
}
#mainVisual button.prev {
  left: 10px;
}
#mainVisual button.next {
  right: 10px;
}
#mainVisual .iconScroll {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  z-index: 1;
}
#mainVisual .iconScroll .icon {
  display: block;
  width: 18px;
  height: 30px;
  margin: 10px auto;
  border: 2px solid #fff;
  border-radius: 100px;
}
#mainVisual .iconScroll .icon::before {
  width: 2px;
  height: 5px;
  margin: 10px auto;
  background-color: #fff;
  animation-name: mouseAnimation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation: mouseAnimation 0.75s ease-in-out 0s infinite alternate;
  content: "";
  display: block;
  position: relative;
}

#quickMenu {
  padding: 0;
}
#quickMenu .list {
  display: flex;
  margin-left: 20px;
  padding: 5px;
}
#quickMenu .list li {
  position: relative;
  overflow: hidden;
  display: flex;
}
#quickMenu .list li::before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  transition: opacity 0.25s ease;
  border: 2px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  display: none;
}
#quickMenu .list li img {
  transition: transform 0.25s ease-in-out;
  vertical-align: top;
  width: 100px;
  padding: 5px;
}
#quickMenu .list li .txtBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
#quickMenu .list li .txtBox h3 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
}
#quickMenu .list li .txtBox p {
  font-size: 11px;
  margin-bottom: 15px;
  word-break: keep-all;
}

#business {
  background-image: url(../images/main/bgBusiness.jpg);
  background-size: cover;
}
#business .list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 375px;
}
#business .list li {
  position: relative;
  overflow: hidden;
  margin: 5px;
  width: calc(50% - 10px);
}
#business .list li .txtBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
#business .list li .txtBox h3 {
  font-size: 18.6666666667px;
  margin-bottom: 0px;
}
#business .list li .txtBox p {
  font-size: 12px;
  display: none;
}
#business .list li img {
  vertical-align: top;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

#news {
  overflow: hidden;
}
#news .list {
  display: flex;
  margin: 0 -10px;
}
#news .list li {
  width: 50%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#news .list li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
#news .list li .desc {
  padding: 20px;
  padding: 10px;
}
#news .list li .desc h3 {
  font-size: 18.6666666667px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 30px;
}
#news .list li .desc .txt {
  line-height: 1.5;
  height: 4.5em;
  overflow: hidden;
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-size: 12px;
}
#news .list li .desc .date {
  color: #999;
  font-size: 12px;
}

#customer {
  color: #fff;
  background-image: url(../images/main/bgCustomer.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
#customer .titleBox h2::after {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin: 20px auto;
  background-color: #fff;
  margin: 30px auto;
}
#customer .titleBox p {
  line-height: 1.5;
  padding: 0 50px;
}
#customer .titleBox p br {
  content: "";
}

.subVisual {
  height: 400px;
  background-color: #000;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.subVisual .subTitle {
  font-size: 33px;
}

.subContents {
  padding: 100px 0;
}
.subContents .contentsTitle {
  text-align: center;
  font-size: 32px;
}

@keyframes mouseAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}