.contentsTable {
  width: 100%;
  border-top: 2px solid #bf0c14;
}
.contentsTable tbody th,
.contentsTable tbody td,
.contentsTable thead th,
.contentsTable thead td {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.contentsTable tbody th:nth-child(1),
.contentsTable tbody td:nth-child(1),
.contentsTable thead th:nth-child(1),
.contentsTable thead td:nth-child(1) {
  border-left: none;
}

.boardTable {
  width: 100%;
  border-top: 2px solid #bf0c14;
}
.boardTable tbody th,
.boardTable tbody td,
.boardTable thead th,
.boardTable thead td {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}
.boardTable tbody tr:nth-child(2n) {
  background-color: #fff;
}
.boardTable thead {
  font-weight: 700;
}
.boardTable .subject {
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.pagination ul {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.pagination a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
}
.pagination a.first {
  background-color: #111;
}
.pagination a.first:before {
  color: #fff;
  font-family: "Material Icons";
  content: "keyboard_double_arrow_left";
  display: inline-block;
  margin-left: 0;
}
.pagination a.prev {
  background-color: #111;
}
.pagination a.prev:before {
  color: #fff;
  font-family: "Material Icons";
  content: "keyboard_arrow_left";
  display: inline-block;
  margin-left: 0;
}
.pagination a.last {
  background-color: #111;
}
.pagination a.last:before {
  color: #fff;
  font-family: "Material Icons";
  content: "keyboard_double_arrow_right";
  display: inline-block;
  margin-left: 0;
}
.pagination a.next {
  background-color: #111;
}
.pagination a.next:before {
  color: #fff;
  font-family: "Material Icons";
  content: "keyboard_arrow_right";
  display: inline-block;
  margin-left: 0;
}
.pagination a.active {
  background-color: #bf0c14;
  color: #fff;
  border-radius: 3px;
}

.listTable {
  width: 1200px;
  margin: 0 auto;
  border-top: 2px solid #bf0c14;
}
.listTable tbody th,
.listTable tbody td,
.listTable thead th,
.listTable thead td {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
  text-align: center;
  font-size: 16px;
}
.listTable tbody {
  line-height: 1.6;
  line-break: keep-all;
}
.listTable tbody > tr td {
  vertical-align: middle;
}
.listTable tbody > tr td button {
  top: 15px;
  border: 1px solid #bf0c14;
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 38px;
  color: #bf0c14;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.25s;
  vertical-align: middle;
  font-size: 16px;
}
.listTable tbody > tr td button::before {
  font-family: "Material Icons";
  content: "link";
  display: inline-block;
  margin-left: 0;
  font-weight: 700;
  vertical-align: top;
}
.listTable tbody > tr td button:hover {
  color: #fff;
  background-color: #bf0c14;
}
.listTable thead {
  font-weight: 700;
}
.listTable .subject {
  border-left: 1px solid #999;
}
.listTable #listImg {
  padding-top: 30px;
}
.listTable #listImg > img {
  vertical-align: top;
  width: 80%;
  margin-bottom: 10px;
}